body {
  color: #34495e;
  font: 14px/1.231 "Lato", sans-serif; 

}

h1, .link-item {
	border:0 solid rgba(0,0,0,.02);
}
h1, .link-item, .comment-item, .comment-links {border-bottom-width:5px;}
#comments h3 {border-top-width:5px;}

.rating {float:left; margin-top:-15px;}
.rating i {
	display:block !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.arrows {float:left; margin-top:-5px;}
.score, .arrows {opacity:.6;}
.arrows a:hover i {background-color:#1abc9c; background-image:url("../img/glyphicons-halflings-white.png");}

.link-item h2 {line-height:30px; margin:0;}
.link-item .rating, .link-detail {float:left;}
.link-item .rating {
    background-color: #efefef;
    padding: 10px;
    margin: 0 20px 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:90px;
    text-align:center;
}
.link-item .arrows {
    margin: 0 10px 0 0;
    background-color: #fff;
    padding: 7px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 25px;
}
.link-item .score {
  font-size: 30px;
  line-height: 40px
}
.navbar {
  padding: 1px 0;
  margin-bottom: 20px;
  width: 100% !important;  
  height: auto;
  background-color: #A4A4A4;
}

.logo,
.nav {
  display: inline-block;
  margin: 0;
}

/* nav links */
.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav li {
  display: block;
  /*margin-left: 40px;*/
}

.navbar a {
  color: #FFF;
  text-decoration: none;
}

.navbar a:hover {
  color: #DDD;
}

/* if you want pull right nav links */
.nav-right {
  float: right;
  line-height: 39px;
}

.my-container
{
  width: 100%!important;
  padding: 0 0 0 0!important;
}

.my-content
{}

.logo > a 
{
  display: block;

  padding: 13px;
  font-size: 30px;
}